@model IEnumerable<object>
<table class="table table-hover">
    <thead>
        <tr>
            @{
                /*
                Type generic = Model.GetType().GetGenericArguments()[0];
                foreach (var property in generic.GetProperties())
                {
                    <th scope="col" class="border-top-0">@(property.CustomAttributes.Select(x => x.NamedArguments.Select(y => y.TypedValue.Value)).OfType<System.ComponentModel.DataAnnotations.DisplayAttribute>();)</th>

                }
                */
            }
            <th scope="col" class="border-top-0"><div class="d-flex justify-content-end"><a class="btn btn-success" href="@Url.Action("Create")">+ Criar novo</a></div></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>