@{
    ViewBag.Title = "Home";
    ViewBag.ActiveIndex = 0;
}

<h1 class="display-1 row mb-5 d-flex justify-content-center">Bem vindo!</h1>

<div class="row shadow mb-5" style="height:50vh;">
    <a href="#Tutorial" class="col-4 bg-dark rounded-left d-flex text-white justify-content-center align-items-center display-4 link">
        Tutorial
    </a>
    <a href="#Creditos" class="col-4 bg-light d-flex text-dark justify-content-center align-items-center display-4 link">
        Créditos
    </a>
    <a href="https://github.com/Beserrovsky/school-ADM_PANEL" class="col-4 bg-dark rounded-right d-flex text-white justify-content-center align-items-center display-4 link">
        Código
    </a>
</div>

<section id="Tutorial">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>Tutorial</h1>
        </div>
        <div class="col-12 py-5">
        </div>
    </div>
</section>

<section id="Creditos">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>Créditos</h1>
        </div>
        <div class="col-12 py-5">
        </div>
    </div>
</section>