@model FelipeB_App3BI.Models.AgenteModel
@{
    ViewBag.Title = "Agente";
    ViewBag.ActiveIndex = 1;
}
@{ 
    if (Model != null)
    {
        <h2>@Model.Nome</h2>
    }
    else
    {
        <div class="d-flex rounded bg-danger justify-content-center align-items-center" style="height:75vh; width:100%;">
            <h1 class="display-1 text-white">Agente não encontrado!</h1>
        </div>
    }
}
