@model FelipeB_App3BI.Models.ProdutoModel
@{
    ViewBag.Title = "Produto";
    ViewBag.ActiveIndex = 2;
}

@{
    if (Model != null)
    {
        <h2>Produto</h2>
        <h3>@Model.Nome</h3>
    }
}
